*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fffdd7;
  color: var(--tg-theme-text-color);
}

.button1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 300px;
  font-weight: bold;
  border-radius: 100px;
  padding: 50px 10px;
  width: 300px;
  height: 300px;
  background-image: url(D:\turtleicon.jpg);
  padding: 10px;
  

  
}
.cislo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  font-size: 120px;
  font-weight: bold;
}
.turtle{
  width: 128px;
  height: 128px;
}